.vs/
*.user
**/x64/Debug/
**/x64/Release/
**/Debug/
**/Release/
*.ilk
*.log
*.pdb
*.idb
*.exe
*.tlog/
*Editorial.aux
*Editorial.fdb_latexmk
*Editorial.fls
*Editorial.log
*Editorial.out
Editorial.synctex.gz
*GRCPCLogo.png
*Editorial.tex
desktop.ini
